[access]
	inheritFrom = All-Projects
[access "refs/*"]
	owner = group user/MarcAndreson
[access "refs/for/refs/*"]
	read = group user/MarcAndreson
	push = group user/MarcAndreson
	label-Code-Review = -2..+2 group user/MarcAndreson
	label-Verified = -1..+1 group user/MarcAndreson
	rebase = group user/MarcAndreson
	removeReviewer = group user/MarcAndreson
	submit = group user/MarcAndreson
[access "refs/heads/*"]
	read = group user/MarcAndreson
	create = group user/MarcAndreson
	push = +force group user/MarcAndreson
	pushMerge = group user/MarcAndreson
[access "refs/tags/*"]
	push = group user/MarcAndreson
	push = +force group user/MarcAndreson
